body {
    font-family: "Lato", sans-serif;
    margin-top: 0;
    margin-right: 0;
  }
  
  .tab {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    color: #f1f1f1;
    text-decoration: none;
  }
  
  .tab button:hover{
    color: blue;
  }
  
  .tab a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .tab a:hover {
    color: #f1f1f1;
  }
  
  .tabcontent {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 10px 50px 0 50px;
    width: 650px;
    float: left;
  }
  
  .topnav {
      margin-left: 185px;
      padding: 15px;
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .clear{
      clear: both;
  }
  
  .topbar{
      float: left;
      font-weight: bold;
      text-align: center;
      padding-right: 15px;
  }
  
  .topbar button {
    font-weight: bold;
      text-align: center;
      padding-right: 15px;
      border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    background-color: inherit;
    font-size: 15px;
  }
  
  .topbar a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
  }
  
  #logo{
      padding: 10px;
      font-size: 48px;
      font-weight: 900;
      text-align: center;
  }
  
  .search-container{
      float: right;
      display: block;
  }
  
  #cdwh{
      font-size: 0.1%;
      font-weight: lighter;
      padding: 0;
  }
  
  .rightBar{
    height: 100%;
    width: 300px;
    position: relative;
    top: 0;
    right: 0;
    margin: 15px;
    border: 5px solid gray;
    background-color: lightblue;
    padding-top: 10px;
    float: right;
    text-align: center;
  }
  
  .description{
    text-align: left;
    margin: 0 15px;
  }
  
  
  .video_message{
      font-size: xx-small;
      width: 560px;
  }
  
  hr {
    border: 0;
    border-top: 1px solid darkblue;
  }
  
  button {
      text-decoration: underline;
      border: none;
      color: darkblue;
      font-weight: bold;
      background-color: inherit;
  }
  
  button:hover {
    color: red;
  }
  
  .album{
    width: 200px;
    height: 210px;
    float: left;
    text-align: center;
    font-size: x-small;
    margin: 5px;
  }


  @media screen and (max-width: 1400px){	
	.tabcontent{
        width: 400px;
    }
    .video{
        width: 400px;
    }

    .video_message{
        width: 400px;
    }

    .album{
        margin: auto;
    }
}

/*media dla telefonu*/
@media screen and (max-width: 1150px){
    body{
        margin: 0;
    }

	.content{
		width: 100%;
        margin: 0;
        padding: 0;
	}

    .rightBar {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .search-container{
        display: none;
    }

    .tabcontent {
        margin: 0; /* Same as the width of the sidenav */
        width: 100%;
        float: none;
        padding: 0;

      }

      .video{
        margin: 0;
        padding: 0;

      }

      .video_message{
        width: 100%;
        margin: 5px;
        padding: 0;

      }

      .tab{
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;

      }

      .topnav{
        float: none;
        margin: 0;
        width: 100%;
        padding: 10px 0;

      }

      p{
        margin: 5px;
      }

      .responsive-iframe {
        position: relative;
        width: 100%;
        height: 250px;
      }

      #discography{
        text-align: center;
        margin: auto;
      }

      .album{
        margin: auto;
      }

}